<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body>
    <table style="color:#333;font:15px; width:100%; 'Helvetica Neue',Arial,Helvetica" cellspacing="0" cellpadding="0" border="0"> 
      <tbody>
        <tr width="100%"> 
          <td style="background:#f0f0f0;font:15px 'Helvetica Neue',Arial,Helvetica" valign="top" align="left"> 
            <table style="border:none;padding:0 18px;margin:50px auto;width:100%"> 
              <tbody>
                <tr width="100%" height="57"> 
                  <td style="border-top-left-radius:4px;border-top-right-radius:4px;background:#fff;padding:12px 18px;text-align:center" valign="top" align="left">
                    <img src="https://cognizancevct.com:3001/static/images/vct-logo.png" title="Cognizance VCT" style="font-weight:bold;font-size:18px;color:#fff;vertical-align:top;" class="CToWUd" width="220" height="60"> 
                  </td> 
                </tr>
                <tr width="100%"> 
                  <td style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:18px" valign="top" align="left"> 
                    <h1 style="font-size:16px;margin:0;color:#333"> Hello {{firstName}}, </h1>
                    <p > 
                      Thank you for signing up to Cognizance Virtual Clinical Trials. Please click on this link to verify your email: 
                    </p>
                    <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;margin-bottom:0;text-align:center;color:#333">
                      <a href="https://cognizancevct.com:3001/api/participant/verifyEmail?userId={{userId}}&emailToken={{emailToken}}" style="border-radius:3px;background:#1a3c68;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:24px auto 24px;padding:10px 18px;text-decoration:none;width:180px;text-align:center"> Verify Email </a> 
                    </p>
                  </td> 
                </tr>
              </tbody> 
            </table> 
          </td> 
        </tr>
      </tbody> 
    </table>
  </body>
</html>


